:root{
    --color-theme:linear-gradient(to right, #3366cc 36%, #33ccff 100%);
    --main-color: #F3C003;
    --second-black-color: #3A454B;
    --second-red-color: #CD1628;
    --back-ground-color: #FFFFFF
}